*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    position: relative;
}

@charset "UTF-8";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



/******FONTS AND SIZING********/
h1 {
    
}

/*******HEADER AND NAV BAR******/
header {
    min-width: 100%;
    min-height: 100%;
    background: url(../img/header_bkgd_pizza.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.centered {
    text-align: center;
}

#title {
    margin-top: 35%;
    color: black;
}

#title h1 {
    font-size: 5em;
}

#title h3 {
    font-size: 2em;
}

/******FOOTER******/
footer {
    bottom: 0;
    top: 120%;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #5C8459;
    color: #FFF;
}

.foot {
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.foot ul {
    list-style-type: none;
}

.foot ul li {
    padding-bottom: 15px;
}

.foot ul li a {
    text-decoration: none;
    color: #FFF;
}

.foot ul li a:hover {
    color: black;
}

/******CONTAINER******/
#container {
    position: relative;
    top: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


/*****ORDER ONLINE OPTIONS******/
#order-online {
    height: 500px;
    background: url(../img/bkgd_order_index.png) no-repeat;
    background-size: cover;
}

#order-title {
    padding-top: 120px;
    margin-bottom: -15px;
}
.order-icons {
    padding-bottom: 15px;
}

.pop-up {
    display: none;
    position: absolute;
    width: 400px;
    height: 450px;
    left: 20%;
    padding: 20px;
    border: 1px solid #B7B7B7;
    border-radius: 15px;
    background-color: rgba(230,100,110,05);
    box-shadow: inset 2px -2px 5px #B7B7B7, inset -2px 2px 10px #B7B7B7;
}

.zip-form {
    display: none;
    position: absolute;
    left:60%;
    width: 400px;
    height: 130px;
    border: 1px solid #B7B7B7;
    border-radius: 15px;
    background-color: rgba(230,100,110,05);
    box-shadow: inset 2px -2px 5px #B7B7B7, inset -2px 2px 10px #B7B7B7;
}

#zip {
    padding: 30px 0 30px 0;
}

#close, #close2 {
    float: right;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
}

#close {
    padding: 0 !important;
    margin-top: -10px;
}

/******VEGAN VALUES******/
#about {
    margin-top: -50px;
    margin-bottom: 30px;
    height:500px;
}

#values {
    padding-top: 140px;
}

.val-text {
    width: 50%;
    display:inline-block;
}


/******LINKS*******/
.link-box {
    margin-top: 25px;

    height: 220px;
    border-right: dashed 1px;
}

#gift-cards-links {
    border-right: none !important;
}

/******BUTTONS******/

